<h1>Book catalog</h1>

<div class="add-button">
  <button (click)="addNewBook()">Add new book</button>
</div>
<div class="book-container">
  <div *ngFor="let book of books$ | async" class="item-book">
    <img src="{{ book.cover_image }}" />
    <h3>{{ book.title | titlecase }}</h3>
    <p>author: {{ book.author }}</p>
    <p>publication year: {{ book.publication_year }}</p>
    <p>genre: {{ book.genre }}</p>
    <p>description: {{ book.description }}</p>
    <button (click)="edit(book.id)">Edit</button>
  </div>
</div>

<app-modal *ngIf="isShowModal" (closeModalEvent)="closeModal($event)">
  <app-edit-book
    [bookId]="editedBookId"
    (closeModalEvent)="closeModal($event)"
  ></app-edit-book>
</app-modal>
