<form [formGroup]="bookForm" class="form">
  <label
    >title: <input id="title-name" type="text" formControlName="title"
  /></label>
  <label>author: <input type="text" formControlName="author" /></label>

  <label
    >publication year: <input type="text" formControlName="publication_year"
  /></label>

  <label>genre: <input type="text" formControlName="genre" /></label>

  <label
    >description: <input type="text" formControlName="description"
  /></label>

  <label
    >cover image: <input type="text" formControlName="cover_image"
  /></label>
</form>
