<h2>Edit book</h2>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="form">
  <label
    >title: <input id="title-name" type="text" formControlName="title"
  /></label>
  <label
    >author:
    <select formControlName="author">
      <option *ngFor="let item of authors" [ngValue]="item">
        {{ item.firstName }} {{ item.lastName }}
      </option>
    </select></label
  >

  <label
    >publication year: <input type="text" formControlName="publication_year"
  /></label>

  <label>genre: <input type="text" formControlName="genre" /></label>

  <label
    >description: <input type="text" formControlName="description"
  /></label>

  <label
    >cover image: <input type="text" formControlName="cover_image"
  /></label>
  <button [disabled]="bookForm.status === 'INVALID'" type="submit">Save</button>
  <p *ngIf="bookForm.status === 'INVALID'">Please, fill the gaps</p>
</form>
